:root {
	--background: #24273a;
	--background-translucent: #24273adf;
	--post-hover-overlay: #00000000;
	--text: #cad3f5;
	--border: #5b607890;
	--subtext: #a5adcb;
	--accent: #c6a0f6;

	--post-interaction: #a5adcb;

	--interacted: #7dc4e4;
	--repeated: #a6da95;
	--favourited: #eed49f;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: var(--background);
	color: var(--text);
	margin: 0;
}

/* set background.webp as the background of the page */
body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("/background.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -9;
	filter: blur(8px) opacity(0.3) saturate(1.6);
}

a {
	color: var(--accent);
	text-decoration: none;
}

#outer {
	display: flex;
	margin: 0 auto;
	margin-top: 2ch;
	min-height: 100vh;
	justify-content: center;
}

#timeline-container {
	width: 80ch;
	margin: 0 1rem;
	overflow: visible;
}

#timeline-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	background: var(--background);
	position: sticky;
	top: 0;
	z-index: 1;
}

#timeline {
	display: flex;
	flex-direction: column;
	background: var(--background-translucent);
	backdrop-filter: blur(12px) saturate(1.6);
}

p {
	margin: 0;
}

.post-container {
	border-bottom: 1px solid var(--border);
}

.post {
	width: 100%;
	padding: 1rem 1rem 0 1rem;
	display: flex;
	background: var(--post-hover-overlay);
	transition: background 0.2s ease-in-out;
}

.post:hover {
	--post-interaction: var(--text);
	--post-hover-overlay: #24273a99;
}

.post-body {
	width: 100%;
}

.post-spoiler .post-inner-body {
	filter: blur(8px);
	/*height: 2ch;*/
	overflow: hidden;
	user-select: none;
}

.post-replied-to {
	padding-bottom: 0;
}

.post-replied-to > .post-content {
	margin-left: calc(48px + 1rem);
}

.post-info-top {
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
}

.post-avatar-div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 48px;
}

.avatar-line {
	display: flex;
	background: var(--border);
	width: 4px;
	flex-grow: 1;
	margin-bottom: -20px;
}

.post-avatar {
	height: 48px;
	width: 48px;
	border-radius: 8px;
	z-index: 1;
}

.poster-text-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 1rem;
}

.poster-info-col-1 {
	display: inline-block;
}

.post-display-name {
	font-weight: bold;
	color: var(--text);
	margin: 0;
	display: inline-block;
}

.poster-username {
	color: var(--text);
	margin: 0;
	display: flex;
	align-items: center;
}

.poster-instance {
	color: var(--subtext);
}

.post-acct {
	display: flex;
	align-items: center;
}

.post-instance-favicon {
	margin-left: 0.5rem;
	width: 16px;
	height: 16px;
}

.poster-info-column-2 * {
	text-align: right;
}

.post-visibility {
	color: var(--subtext);
}

.emoji {
	vertical-align: middle;
}

.post-media {
	display: flex;
	max-width: 100%;
	overflow: scroll;
}

.post-media-item {
	height: auto;
	width: auto;
	max-height: 50ch;
	max-width: 100%;
	min-height: 20ch;
	display: block;
	object-fit: contain;
	border-radius: 8px;
}

.post-media-item .post-media-item-sensitive {
	filter: blur(8px);
}

.emoji-reactions-row {
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
}

.emoji-reaction-div {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	padding-right: 1rem;
}

.emoji-reaction-img,
.emoji-reaction-span {
	margin-right: 0.5rem;
}

.interaction-bar {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
	margin-bottom: 0.8rem;
	margin-left: calc(48px + 1rem);
	margin-right: calc(48px + 1rem);
}

.interaction-row-item {
	display: flex;
	align-items: center;
}

.interaction-row-item-icon {
	box-sizing: content-box;
	height: 1.125rem;
	width: 1rem;
	margin-right: 0.5rem;
	padding: 0.25rem;
	transition: fill 0.2s ease-in, transform 0.7s ease-in-out;
	fill: var(--post-interaction);
	cursor: pointer;
}

.interaction-row-item-icon:hover {
	fill: var(--accent);
}

.interaction-row-item-hidden-checkbox {
	display: none;
}

.interaction-row-item-hidden-checkbox:checked + .interaction-row-item-icon-replies,
.interaction-row-item-hidden-checkbox:checked + .interaction-row-item-icon-quote,
.interaction-row-item-hidden-checkbox:checked + .interaction-row-item-icon-react {
	fill: var(--interacted);
}

.interaction-row-item-hidden-checkbox:checked + .interaction-row-item-icon-repeats {
	fill: var(--repeated);
}

.interaction-row-item-hidden-checkbox:checked + .interaction-row-item-icon-favourites {
	fill: var(--favourited);
}

.spinny-interaction-row-item-icon:hover,
.interaction-row-item-hidden-checkbox:checked + .spinny-interaction-row-item-icon {
	transform: rotate(360deg);
}
