.profile-preview-container {
	display: none;
}

.post-avatar:hover + .profile-preview-container,
.profile-preview-container:hover {
	display: block;
	position: absolute;
	top: var(--post-pfp-size);
	left: 0;
	z-index: 9;
	width: 70ch;
}

.profile-preview {
	margin-top: 1rem;
	background: var(--background);
	border-radius: 8px;
	border: 1px solid var(--border);
	box-shadow: 0 0 8px var(--shadow);
	overflow: hidden;
}

.preview-header {
	height: 10rem;
	width: 100%;
	object-fit: cover;
}

.preview-avatar {
	height: var(--post-pfp-size);
	width: var(--post-pfp-size);
}

.profile-preview-content {
	padding: 1rem;
}
