@import url("/assets/css/post.css");

:root {
	--background: #24273a;
	--background-translucent: #24273adf;
	--post-hover-overlay: #00000000;
	--text: #cad3f5;
	--border: #5b607890;
	--subtext: #a5adcb;
	--accent: #c6a0f6;

	--post-interaction: #a5adcb;

	--interacted: #7dc4e4;
	--repeated: #a6da95;
	--favourited: #eed49f;

	--post-pfp-size: 48px;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: var(--background);
	color: var(--text);
	margin: 0;
}

/* set background.webp as the background of the page */
body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("/background.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -9;
	filter: blur(8px) opacity(0.3) saturate(1.6);
}

a {
	color: var(--accent);
}

#outer {
	display: flex;
	margin: 0 auto;
	margin-top: 2ch;
	min-height: 100vh;
	justify-content: center;
}

#timeline-container {
	width: 80ch;
	margin: 0 1rem;
	overflow: visible;
}

#timeline-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	background: var(--background);
	position: sticky;
	top: 0;
	z-index: 1;
}

#timeline {
	display: flex;
	flex-direction: column;
	background: var(--background-translucent);
	backdrop-filter: blur(12px) saturate(1.6);
}

p {
	margin: 0;
}
