@import url("/assets/css/post.css");
@import url("/assets/css/mfm.css");

:root {
	--background: #24273a;
	--background-lighter: #363a4f;
	--background-darker: #1e2030;
	--background-translucent: #24273ac0;
	--background-post-hover: #24273ae0;
	--post-hover-overlay: #00000000;
	--text: #cad3f5;
	--border: #5b6078;
	--border-hover: #6e738d;
	--subtext: #a5adcb;
	--accent: #c6a0f6;

	--post-interaction: #a5adcb;

	--interacted: #7dc4e4;
	--repeated: #a6da95;
	--favourited: #eed49f;

	--post-pfp-size: 48px;
	--pfp-size-large: 80px;
	--left-col-width: 40ch;

	--header-border-radius: 12px;

	--button-background-hover: #1e2030;
	--button-background-active: #181926;
}

html {
	scroll-padding-top: 3rem;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: var(--background);
	color: var(--text);
	margin: 0;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("/assets/imgs/default-background.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -9;
	filter: opacity(0.5) blur(4px) saturate(1.4);
}

a {
	color: var(--accent);
}

#outer {
	display: flex;
	margin: 0 auto;
	margin-top: 2ch;
	min-height: 100vh;
	justify-content: center;
}

#timeline-container {
	width: min(80ch, 100%);
	margin: 0 1rem;
	overflow: visible;
}

#timeline-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--background);
	position: sticky;
	top: 0;
	z-index: 2;
	border-top-left-radius: var(--header-border-radius);
	border-top-right-radius: var(--header-border-radius);
	padding: 0.5rem;
}

/* bit of a hacky workaround to get the header to have no border radius when it's pinned at the top
https://stackoverflow.com/questions/25308823/targeting-positionsticky-elements-that-are-currently-in-a-stuck-state */
#timeline-header-bg {
	height: var(--header-border-radius);
	background: var(--background);
	z-index: 1;
	position: sticky;
	margin-top: calc(-1 * var(--header-border-radius));
	top: 0px;
}

#timeline {
	display: flex;
	flex-direction: column;
	backdrop-filter: blur(10px);
	min-height: 100%;
	background: var(--background-translucent);
}

p {
	margin: 0;
}

#left-col-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: visible;
	width: var(--left-col-width);
}

#left-col {
	background: var(--background);
	width: var(--left-col-width);
	position: fixed;
	border-radius: var(--header-border-radius);
	padding: 0.5rem;
}

#right-col-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: visible;
	width: var(--left-col-width);
}

#right-col {
	background: var(--background);
	width: var(--left-col-width);
	position: fixed;
	border-radius: var(--header-border-radius);
	padding: 0.5rem;
}

textarea,
input {
	background: var(--background-lighter);
	color: var(--text);
	border: 1px solid var(--border);
	border-radius: 4px;
	padding: 0.25rem;
	width: 100%;
	font-size: 1rem;
}

input {
	border-bottom: none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

textarea {
	resize: none;
	margin: 0;
	max-height: 30rem;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

#new-post {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#post-properties {
	display: flex;
	gap: 0.5rem;
}

#post-visibilities {
	display: flex;
	justify-content: space-between;
	background: var(--background-darker);
	padding: 0.25rem;
	flex-grow: 1;
}

custom-icon {
	height: 24px;
	width: 24px;
	display: inline-block;
	fill: var(--subtext);
}
