.post-container {
	border-bottom: 1px solid var(--border);
}

.post {
	width: calc(100% - 1rem);
	/* todo root post should have top split 50/50 */
	padding: 0.5rem 0.5rem 0 0.5rem;
	margin: 0.5rem 0.5rem 0 0.5rem;
	display: flex;
	background: transparent;
	transition: background 0.2s ease-in-out;
	border-radius: 8px;
}

.post:hover {
	--post-interaction: var(--text);
	background: var(--background-post-hover);
}

/*#region Boosts */
.boosted-post,
.boosted-post:hover {
	padding: 0;
	margin: 0;
	background: none;
}

/*#endregion*/

.post-body {
	width: 100%;
}

.post-spoiler .post-inner-body {
	filter: blur(8px);
	/*height: 2ch;*/
	overflow: hidden;
	user-select: none;
}

.post-reply-top {
	padding-top: 0.5rem;
}

.post-replies-top {
	box-sizing: content-box;
	padding-left: 1rem;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 0.75rem;
}

.avatar-line-container {
	width: var(--post-pfp-size);
}

.avatar-line-top {
	background-image: linear-gradient(transparent, var(--border));
	width: 4px;
	height: 3rem;
	margin: auto;
	margin-bottom: -2.5rem;
}

.post-replies-top-icon {
	position: relative;
	padding-left: -1rem;
	fill: var(--subtext);
	transform: scaleX(-1) rotate(90deg);
}

.post-replies-top-text {
	margin-left: 0.25rem;
}

.post-media-item-sensitive {
	filter: blur(8px);
}

/*#region Threaded post replies */
.post-child-container-outer {
	display: flex;
	flex-shrink: 0;
}

.post-child-container {
	width: 100%;
}

.post-child-line-container {
	display: block;
	width: var(--post-pfp-size);
}

.post-child-line {
	display: block;
	background: var(--border);
	width: 4px;
	height: 100%;
	margin-left: calc(1rem + var(--post-pfp-size) / 2 - 2px);
}

.post-child-line-connector {
	--size: 1.5rem;
	display: block;
	position: fixed;
	width: var(--size);
	height: var(--size);
	margin-left: calc(1rem + var(--post-pfp-size) / 2 - 2px);
	margin-top: 1rem;

	border-radius: 0 0 0 var(--size);
	border: 4px solid var(--border);
	border-top: none;
	border-right: none;
}

.post-child-container-outer:last-child > .post-child-line-container > .post-child-line {
	height: 1rem;
}
/*#endregion*/
